{% extends 'base.html.twig' %}

{% block title %}Zmiana pytań!{% endblock %}

{% block body %}

{% include "admin/inc/menu.html.twig" %}
<div class='page' style="margin-top: 50px;">
		<div class='containefr'>
			<div class='row'>
				<div class='box-a'>
					<div class='form'>
						{{ form(form) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include "index/application/inc/footer.html.twig" %}
{% endblock %}
