{% block stylesheets %}
	{{ encore_entry_link_tags('menu') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('menu') }}
	{# <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> #}
{% endblock %}

<div class="footer">
	<div class="message">
		<div class="credits">
			© AtlantisRP 2021 | Created by
			<a href="https://atlantisrp.gg/" target="_blank">iniZ</a>
		</div>
	</div>
</div>
